body {
  font-family: "Fredoka", sans-serif;
}

h1 {
    color: red;
}
 #name {
    font-weight: bold
 }

 #email {
    color: rgb(0, 213, 255);
 }

section {
    text-align: center;
}

.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    justify-content: space-between;
}

.card {
    background-color: black;
    width: 400px;
    display: flex;
 }

.card-body{
    color: white;
    padding: 10px 50px 10px 20px;
}

.card img {
    width: 150px;
}


#memberform {
    text-align: center;
    margin: 100px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}